<div class="new-page">
    <%= link_to("<戻る", "/posts/#{@post.id}") %>
    <br><br>
    <%= form_tag("/posts/#{@post.id}/update", {multipart: true}) do %>
    <img src="<%= "/images/#{@post.image}" %>" class="img-edit">
    <% if @post.errors.any? %>
        <strong style="color:red">入力内容にエラーがあります</strong>
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li style="color:red"><%= msg %></li>
        <% end %>
        </ul>
    <% end %>
    <div>画像：</div>
    <input type="file" name="image" class="img-up">
    <br><br>
    <div>名前：</div>
    <input type="text" class="type-text" name="name" value="<%= @post.name %>">
    <br><br>
    <div>性別：</div>
    <%= select_tag "gender", options_for_select([["男性","男性"], ["女性","女性"]], :selected => "#{@post.gender}") %>
    <br><br>
    <div class="birth">
        <div>生年月日：</div>
        <input type="text" size="4" maxlength="4" name="year" class="birth-form" value="<%= @post.birthday[0, 4] %>"><span>年</span>
        <input type="text" size="2" maxlength="2" name="month" class="birth-form" value="<%= @post.birthday[4, 2] %>"><span>月</span>
        <input type="text" size="2" maxlength="2" name="day" class="birth-form" value="<%= @post.birthday[6, 2] %>"><span>日</span>
    </div>
    <div style="color: red">5月7日の場合は、月に「05」、日に「07」と入力してください。</div>
    <br><br>
    <div>出身：</div>
    <input type="text" class="type-text" name="country" value="<%= @post.country %>">
    <br><br>
    <div>職業：</div>
    <input type="text" class="type-text" name="job" value="<%= @post.job %>">
    <br><br>
    <div>顔：</div>
    <input type="text" class="type-text" name="face" value="<%= @post.face %>">
    <br><br>
    <div>説明：</div>
    <textarea name="content"><%= @post.content %></textarea>
    <br><br>
    <input class="submit-btn" type="submit" value="編集"> 
    <% end %>
    
</div>