<div class="new-page">
    <%= link_to("<戻る", "/") %>
    <br><br>
    <%= form_tag("/posts/create", {multipart: true}) do %>
    <% if @post.errors.any? %>
        <strong style="color:red">入力内容にエラーがあります</strong>
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li style="color:red"><%= msg %></li>
        <% end %>
        </ul>
    <% end %>
    <div>画像：</div>
    <input type="file" name="image" class="img-up">
    <br><br>
    <div>名前：</div>
    <input type="text" name="name" class="type-text">
    <br><br>
    <div>性別：</div>
    <select name="gender" size="1">
        <option value="男性" label="男性">男性</option>
        <option value="女性" label="女性">女性</option>
    </select>
    <br><br>
    <div class="birth">
        <div>生年月日：</div>
        <input type="text" size="4" maxlength="4" name="year" class="birth-form"><span>年</span>
        <input type="text" size="2" maxlength="2" name="month" class="birth-form"><span>月</span>
        <input type="text" size="2" maxlength="2" name="day" class="birth-form"><span>日</span>
    </div>
    <div style="color: red">5月7日の場合は、月に「05」、日に「07」と入力してください。</div>
    <br><br>
    <div>出身：</div>
    <input type="text" name="country" class="type-text">
    <br><br>
    <div>職業：</div>
    <input type="text" name="job" class="type-text">
    <br><br>
    <div>顔：</div>
    <input type="text" name="face" class="type-text">
    <br><br>
    <div>説明：</div>
    <textarea name="content"></textarea>
    <br><br>
    <input class="submit-btn" type="submit" value="投稿"> 
    <% end %>
    
</div>