   <div class="main">
        <div class="main-top">
            <%= link_to "新着一覧", "/" %>
            <span>ランキング</span>
            <span class="new">( <%= link_to("新規作成", "/posts/new") %> )</span>
        </div>    
        <div class="lists">
            <% @posts.each do |post| %>
            <div class="img-link">
                <a href="<%= "/posts/#{post.id}" %>" class="thumb-link">
                        <img src="<%= "/images/#{post.image}" %>" class="thumb-img">
                        <div class="thumb-name"><%= post.name %></div>
                </a>
                <div class="rank"><%= post.view %> view</div>
            </div>    
            <% end %>
        </div>
        <div class="page">
        <%= will_paginate @posts, :previous_label => '&laquo; 前へ', :next_label => '次へ &raquo;' %>
        </div>
    </div>