<div class="show">
    <%= link_to "新着一覧へ", "/" %>
    <%= link_to "ランキングへ", "/posts/ranking" %>
    <br>
    <h1><%= "　#{@post.name}" %></h1>
    <img src="<%= "/images/#{@post.image}" %>">
    <div class="item">
        <div>閲覧数：　</div>
        <div><%= @post.view %></div>
    </div>
    <div class="item">
        <div>性別：　</div>
        <div><%= @post.gender %></div>
    </div>
    <div class="item">
        <div>年齢：　</div>
        <div><%= @age %>歳</div>
    </div>
    
    <div class="item">
        <div>出身：　</div>
        <div><%= @post.country %></div>
    </div>    
    <div class="item">
        <div>職業：　</div>
        <div><%= @post.job %></div>
    </div>
    <div class="item">
        <div>顔：　</div>
        <div><%= @post.face %></div>
    </div>
    <div class="item">
        <div>説明：　</div>
        <div><%= simple_format(@post.content) %></div>
    </div>
    <%= link_to("編集", "/posts/#{@post.id}/edit") %>
    <%= link_to "削除", "/posts/#{@post.id}/destroy", method: "post", data: { confirm: '削除しますか?' } %>
    <br><br>
    <hr>
    <h3>コメント</h3>
    <% @post.comments.each do |comment| %>
        <div class="comment">
            <%= comment.body %>
            <%= link_to "[x]",
            "/posts/#{@post.id}/comments/#{comment.id}",
            method: :delete,
            class: 'x-btn',
            data: { confirm: '削除しますか?' } %>
        </div>    
    <% end %>
    <%= form_for([@post, @post.comments.build]) do |form| %>
        <%= form.text_area :body, :class => "com-form" %>
        <%= form.submit :value => "投稿", :class => "com-submit" %>
    <% end %>
</div>