<div class="main">
    <%= link_to("<戻る", "/") %>
    <div class="lists">
            <% @posts.each do |post| %>
            <div class="img-link">
                <a href="<%= "/posts/#{post.id}" %>" class="thumb-link">
                    <div>
                        <img src="<%= "/images/#{post.image}" %>" class="thumb-img">
                        <div class="thumb-name"><%= post.name %></div>
                    </div>    
                </a>
            </div>    
        <% end %>
    </div>
</div>