/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 body {
     margin: 0;
     background: lightcyan;
 }
 
 .inner {
     width: 100%;
     overflow: hidden;
 }
 
 .container {
    background-image: url(/back.jpg);
    height: 100px;
    background-size: cover;
    background-position: center;
    display: flex;
 }
 
 .container-posts {
    display: flex;
}
 
 .sidemenu {
    font-family: serif;
    width: 200px;
    background: #ffbf61;
}

.title {
    color: #FFEB3B;
    font-size: 40px;
    font-weight: bold;
    margin: auto 30px;
    text-decoration: none;
    -webkit-text-stroke: 2px #E91E63;
}

.form {
    width: calc(100% - 380px);
    height: 100px;
    position: relative;
}

.search-form {
    position: absolute;
    top: 26px;
    right: 40px;
    padding: 3px;
    display: flex;
}

.search-input {
    height: 35px;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid #00000059;
    outline: 0;
    padding: 3px;
    color: #000000b5;
}

.search-btn {
    height: 43px;
    background: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.main-menu {
	font-weight: bold;
    font-size: 24px;
    color: #040404a8;
    background: tomato;
    border-bottom: 1px solid;
    padding-left: 10px;
}

.sub-menu {
    font-weight: bold;
    font-size: 20px;
    background: orange;
    display: none;
}

.sub {
	border-bottom: 1px solid;
	padding-left: 10px;
}

.sub a {
    text-decoration: none;
    color: #b228ca;
}

#tri {
    font-size: 5px;
    vertical-align: middle;
}


@media screen and (max-width:690px) {
    
    .container {
        height: 140px;
        display: block;
    }
    
    .container-posts {
        display: block;
    }
    
    .title {
        font-size: 36px;
        margin: 20px;
    }
    
    .form {
        width: 100%;
        height: auto;
    }
    
    .search-form {
        margin: 10px 20px;
        position: static;
    }
    
    .search-input {
        width: 100%;
    }
    
    .sidemenu {
        width: 100%;
        margin-bottom: 20px;
    }
    
}