// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main {
    margin: 1em;
    width: calc(100% - 200px);
}

.main-top {
    margin: 10px;
}

.new {
    margin-left: 50px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 1em 2em;
}

.lists {
    display: flex;
    flex-wrap: wrap;
}

.img-link {
    margin: 15px;
    width: 200px;
    border: 1px solid #f775a1;
    background: #f775a1;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 0 12px;
    position: relative;
}

.img-link:hover {
    opacity: 0.8;
    box-shadow: none;
}

.thumb-link {
    text-decoration: none;
    color: black;
}

.thumb-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.thumb-name {
    font-weight: bold;
    padding: 3px;
    height: 48px;
}

.page {
    margin: 20px;
}


// showのスタイリング

.show {
    margin: 30px;
    padding: 1em;
    width: 800px;
    background: papayawhip;
}

.show img {
    height: 300px;
}

.item {
    margin: 2em 0;
    display: flex;
}

.item p {
    margin: 0;
}

.com-form {
    height: 50px;
}

.com-submit {
    height: 30px;
    background: skyblue;
    color: white;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 5px;
}

.comment {
    width: 90%;
    border-bottom: 1px solid #00000054;
    margin-bottom: 10px;
    padding: 10px;
}

.x-btn {
    float: right;
}


// newのスタイリング

.new-page {
    margin: 30px;
    width: 500px;
}

.submit-btn {
    background: skyblue;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
}

textarea {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #0000003d;
    font-size: 19px;
}

.img-up {
    border: 1px solid;
    padding: 5px;
}

.type-text {
    height: 24px;
    width: 300px;
    font-size: 19px;
    border-radius: 5px;
    border: 1px solid #0000003d;
}

.birth {
    display: flex;
}

.birth-form {
    height: 24px;
    font-size: 19px;
    border-radius: 5px;
    border: 1px solid #0000003d;
}


// editのスタイリング

.img-edit {
    height: 150px;
}

.error-msg {
    color: red;
}


// ページのスタイリング

.previous_page, .next_page {
    border: 1px solid #00000057;
    background: #e91e6352;
    font-size: 20px;
    padding: 2px;
    cursor: pointer;
    border-radius: 3px;
    user-select: none;
}

.current {
    border: 1px solid #00000057;
    background: #8bc34a82;
    font-size: 20px;
    padding: 2px;
    font-style: inherit;
    cursor: pointer;
    border-radius: 3px;
    user-select: none;
}

.pagination a {
    border: 1px solid #00000057;
    background: #e91e6340;
    color: blue;
    font-size: 20px;
    padding: 2px;
    text-decoration: none;
    border-radius: 3px;
    user-select: none;
}

.pagination a:hover {
    opacity: 0.6;
}


// ランキングのスタイリング

.rank {
    position: absolute;
    top: 0;
    left: 0;
    background: #FF5722;
    color: white;
    padding: 1px 5px;
    border-radius: 0 0 5px;
    box-shadow: 0 0 6px 3px;
}



@media screen and (max-width:690px) {
    
    .main {
        width: 100%;
        margin: 0;
    }
    
    .lists {
        display: block;
        width: 100%;
    }
    
    .img-link {
        margin: 30px auto;
        width: 80%;
        border: 1px solid #00000059;
    }
    
    .thumb-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .thumb-name {
        height: auto;
        font-size: 25px;
    }
    
    // show
    
    .show {
        width: 80%;
    }
    
}

