<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

  <body>
    <div class="inner">
    <div class="container">
      <%= link_to("美男美女ペディア", "/", class: "title") %>
      <%= form_tag("/posts/search", :method => 'get', :class => 'form') do %>
      <div class="search-form">
      <%= text_field_tag :search, '', class: 'search-input' %>
      <%= submit_tag "検索", :name => nil, class: 'search-btn' %>
      </div>
      <% end %>
    </div>
    <div class="container-posts">
      <div class="sidemenu">
          <div id="main-menu-1" class="main-menu">性別<span id="tri">▼</span></div>
      		<div id="sub-menu-1" class="hidden sub-menu">
      			<div class="sub"><%= link_to("男性", "/posts/male") %></div>
      			<div class="sub"><%= link_to("女性", "/posts/female") %></div>	
      		</div>
      		<div id="main-menu-2" class="main-menu">出身<span id="tri">▼</span></div>
      		<div id="sub-menu-2" class="hidden sub-menu">
      			<div class="sub"><%= link_to("アメリカ", "/posts/america") %></div>	
      			<div class="sub"><%= link_to("イギリス", "/posts/england") %></div>
      			<div class="sub"><%= link_to("カナダ", "/posts/canada") %></div>
      			<div class="sub"><%= link_to("デンマーク", "/posts/danmark") %></div>
      			<div class="sub"><%= link_to("日本", "/posts/japan") %></div>
      		</div>
      		<div id="main-menu-3" class="main-menu">職業<span id="tri">▼</span></div>
      		<div id="sub-menu-3" class="hidden sub-menu">
      			<div class="sub"><%= link_to("俳優", "/posts/actor") %></div>	
      			<div class="sub"><%= link_to("女優", "/posts/actress") %></div>
      			<div class="sub"><%= link_to("ミュージシャン", "/posts/musician") %></div>
      			<div class="sub"><%= link_to("スポーツ選手", "/posts/sports") %></div>
      		</div>
      </div>
      <%= yield %>
    </div>
    </div>
      
    <script>
      $('#main-menu-1').on('click', function(){
	      $('#sub-menu-1').slideToggle('fast');
	    });
	    
	    $('#main-menu-2').on('click', function(){
	      $('#sub-menu-2').slideToggle('fast');
	    });
	    
	    $('#main-menu-3').on('click', function(){
	      $('#sub-menu-3').slideToggle('fast');
	    });
    </script>  
  </body>
</html>
